html {
  font-size: 18px;
}

body {
  margin: 0;
  font-family: "Sarabun", "Roboto", "Helvetica Neue", "Arial", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(
    circle at bottom,
    #01306e,
    #002a70,
    #002471,
    #001c71,
    #001370,
    #001c76,
    #00257c,
    #002d82,
    #004288,
    #005183,
    #005c79,
    #01666e
  );
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.light-blur {
  -webkit-box-shadow: 0px 0px 10px 10px #ffecd2;
  -moz-box-shadow: 0px 0px 10px 10px #ffecd2;
  box-shadow: 0px 0px 10px 10px #ffecd2;
}
